body {
   background: url(../images/body-bkg.png);
   background-size: 100% 100%;
   /*background-color:#e9d8cd;*/
   margin:0;
   padding:0;
}

.content {
    width:600px;
    height:350px;
    margin:50px auto 10px auto;
}

.login-form {
    width:400px;
    height:177px;
    margin:120px auto 0;
    padding-top:73px;
    position:relative;
    background: url(../images/body-bkg.png);
    background-size: 100% 100%;
    /*background-color:#e9d8cd;
    box-shadow:0 3px 3px rgba(21,62,78,0.8);*/
}

.login-form:before {
    content:"";
    position:absolute;
    top:-50px;
    left:30px;
    width:345px;
    height:99px;
    /*padding:2px;
    border:1px solid rgb(216,216,219);*/
    background:/*#e9d8cd*/ url("../images/logo.png");
}


.follow_me {
    position:absolute;
    color:rgb(153,153,153);
    font-weight:bold;
	font-size:13px;
    top:calc(100% + 100px);
    background-color:rgb(255,255,255);
    width:400px;
    height:46px;
    margin:0 auto;
    line-height:46px;
    text-align: center;
    box-shadow:0 3px 3px rgba(21,62,78,0.8);
}

.follow_me a {
    margin-left:5px;
    text-decoration: none;
    color:rgb(52,119,182);
    cursor: pointer;
}

.login-form div {
    width:216px;
    height:28px;
    margin:20px auto;
    position:relative;
    line-height:28px;
    border:none;
}

.login-form .user-icon, 
.login-form .password-icon {
    display:inline-block;
    font-family: 'loginform-icon';
    font-size:15px;
    text-align:center;
    line-height:28px;
    color:rgb(153,153,153);
    position:absolute;
    left:1px;
    top:1px;
    background-color:rgb(255,255,255);
    border:none;
    border-right:1px solid rgb(229,229,232);
    width:30px;
    height:28px;
    transition: all 300ms linear;
}

.login-form .username input, .login-form .password input {
    height:100%;
    width:calc(100% - 40px);
    padding-left:40px;
    border-radius:2px;
    border:1px solid;
    border-color:rgb(229,229,232) rgb(220,220,221) rgb(213,213,213) rgb(220,220,221);
    display:block;
    transition: all 300ms linear;
}

.login-form .icon:before, .login-form .icon:after {
    content:"";
    position:absolute;
    top:10px;
    left:30px;
    width:0;
    height:0;
    border:4px solid transparent;
    border-left-color:rgb(255,255,255);
}

.login-form .icon:before {
    top:9px;
    border:5px solid transparent;
    border-left-color:rgb(229,229,232);
}

.login-form .username input:focus, .login-form .password input:focus {
    border-color:rgb(69,153,228);
    box-shadow:0 0 2px 1px rgb(200,223,244);
}

.login-form .username input:focus + span, .login-form .password input:focus + span {
    background:-*-linear-gradient(top,rgb(255,255,255),rgb(245,245,245));
    color:rgb(51,51,51);
}

.login-form .username input:focus + span:after, .login-form .password input:focus + span:after {
    border-left-color:rgb(250,250,250);
}

.login-form button[type="submit"] {
    color:#fff;
    font-weight:bold;
    margin-left:80px;
    width:68px;
    height:30px;
    position:relative;
    background-color:rgb(52,118,100);
    background-size:66px 28px,68px 29px;
    border:none;

    border-radius:5px;
    box-shadow:inset 0 1px 0 rgb(86,174,251);
    text-shadow:0 1px 1px rgb(51,113,173);
    transition: all 200ms linear;
}

.login-form button[type="submit"]:hover {
    text-shadow:0 0 2px rgb(255,255,255);
    box-shadow:inset 0 1px 0 rgb(86,174,251),0 0 10px 3px rgba(74,162,241,0.5);
}

@font-face {
  font-family: 'loginform-icon';
  src: url("font/loginform-icon.eot");
  src: url("font/loginform-icon.eot?#iefix") format('embedded-opentype'),
       url("font/loginform-icon.woff") format('woff'),
       url("font/loginform-icon.ttf") format('truetype'),
       url("font/loginform-icon.svg#loginform-icon") format('svg');
  font-weight: normal;
  font-style: normal;
}
